<h1><%= @user.name %></h1>
<p><%= image_tag @user.picture_url if @user.picture_url %></p>

<p>Email: <%= @user.email if @user.email %></p>

<p>Location: <%= @user.location if @user.location %></p>
<p>Industry: <%= @user.industry if @user.industry %></p>
<p>Headline: <%= @user.headline if @user.headline %></p>
<p>URL: <%= @user.public_profile_url if @user.public_profile_url %></p>